@charset "utf-8";
*{
	outline: none;
}
.clear{
	clear: both;
}
 .curPage{background-color: rgba(0,0,0,0.1);}
/*导航栏*/
nav{
	background-color: #493b61;
}

.row .col{
	padding: 0;
}


.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #d29396;
}
